html, body, #root, .app {
  height: 100%;
}

body {
  color: #222;
}

label {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

h2 {
  margin-top: 0;
}

h4 {
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  margin: 0 10px;
}

select {
  padding: 5px;
  margin-bottom: 10px;
}

.app {
  display: flex;
  flex-direction: column;
}

.contract-section {
  flex-shrink: 0;
  margin: 10px 20px;
  padding: 20px 0;
  border-bottom: 1px solid #CCC;
}

.consumer-provider-container {
  flex-grow: 1;
  display: flex;
  margin: 10px 20px;
}

.provider {
  flex-grow: 1;
  width: 50%;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #CCC;
}

.consumer {
  flex-grow: 1;
  width: 50%;
  word-break: break-all;
}

.eth-address, .amount, .value {
  font-size: 0.9em;
  color: #333;
}

.message-signer .credits, .message-verifier .credits {
  padding: 2px 5px;
  width: 4em;
}

.message-verifier button {
  margin-top: 10px;
  margin-left: 0;
}
